*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;}
    .bodys{

        background: url("Images/findex.png");
        background-repeat: no-repeat ;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        
    }
    .bodye{

        background: url("Images/ferina.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        
    }
    .bodyindex{

        background: url("Images/foindex.png") rgb(95, 111, 156) ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
    
    
        
    }
.bodynindex{

    background: url("Images/index.png")red;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid red;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;

}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content: " ▼";
    font-size: 12px;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
.first{
    font-weight: bold;
    font-style: italic;
}
.desc{
    margin-top: 50px;
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 60px;
   margin-left: 25px;
   width: 1000px;
   height: 100%;
   text-align: center;
   border-radius: 10%;
    background-color: black;
    color: white;
}
.zonerec{
    background-color: black;
}
.linkrec{
    color: white;
}
.linkrec:hover{
    color: orange;
    font-weight: bold;
}
.tsoma{
    margin-top: 20px;
    margin-left: 9.5%;
    padding-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
.tsoma:hover{
color: red;
}
.imgrec{
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 300px;
    float: left;
}
.zonerec{
    border-radius: 12%;
    margin-left: 20px;
    margin-right: 20px;
    height: 450px;
    background-color: black;
   
}
.descrecette{
   margin-top: 2%;
    margin-left: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    
  align-content: center;
    max-width: 50%;
    text-align: center;
    line-height: 30px;
    
}
.hpage{
 margin-top: 20px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    
    color: white;

}
.hpage:hover{
    color: red;
}
.liste{
    margin: 3% 3% 3% 3%;
    color: black;


}
.listep{
    color: black;
    font-size: 30px;
}
.listep:hover{
    color: red;
}
.imagesliste{
    margin-top: 10px;
    width: 250px;
    height: 130px;
}
.trec{
    margin-top: 2.5%;
    text-align: center;
    
}
.ingredients{
margin-top: 3%;
margin-left: 5%;
}
.recetteroti{
    margin-top: -35px;
    margin-right: 38%;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    float:right
}
.hist{
    margin-top: 1%;
    margin-left: 10%;
    padding-top: 1%;
    background-color: red;
    border: 5px solid black;
    color: black;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    font-size: 1.5em;
    flex-wrap: wrap;
   
}
.video{
   margin-left: 28%;
   margin-top: 1.5%;
 
}
.colorwhite_red
{
color: white;
}
.colorwhite_red:hover{
    color: red;
}
.ahist
{
    margin-left: 2%;
    
  
 
}
.titreh{
    margin-bottom: 20px;
}
.blocks{
    display: flex;
    flex-wrap: nowrap;
}
.lienhist{
    margin-top: 1%;
    margin-left: 0.5%;
    padding-top: 1%;
    background-color: red;
    border: 5px solid black;
    color: black;
    width: 10%;
   
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    font-size: 1.5em;
    flex-wrap: wrap;
}